/cache
/Copilot
/Custom Office Templates
/Default.rdp
/desktop.ini
/Kao Documents
/OneNote Notebooks
/Personal - Computer Transfer Temporary
/TERR
/the question should be how do I want to serve.txt
/Zoom